{% extends "base.html" %}

{% block content %}
<div class="feat bg-gray pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="section-head col-sm-12">
          <h4><span>PICK N</span> CHOOSE!</h4>
          <p>Our aim for this site was to create a community of people who like exchanging old items and stuff they no longer need. Join others in giving away your old stuff and maybe pick up something new that interests you!</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-user-plus"></i></span>
            <h6>Register</h6>
            <p>New users are required to sign up, you can do that by clicking on the "Register" button in the top left.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-address-card"></i></span>
            <h6>Log in</h6>
            <p>Once you've made an account or if you already had one, please log in by clicking on the "Login" button next to "Register".</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-camera"></i></span>
            <h6>Start Posting!</h6>
            <p>You're done! You can now click on "Post Item" and start posting stuff you want to give away! </p>
          </div>
        </div>
 

      </div>
    </div>
  </div>
  {%endblock%}